@use '../base/vars' as *;

//Mixins

//MC - Centres an element

@mixin mc() {
  max-width: $siteWidth;
  margin: 0 auto;
}

//Media Queries

@mixin desktop {
  @media (min-width: #{desktop}) {
    @content;
  }
}
//box shadows
@mixin box-shadow() {
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
}

@mixin button-shadow() {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.032), 0 41.8px 33.4px rgba(0, 0, 0, 0.026),
    0 100px 80px rgba(0, 0, 0, 0.05);
}
