
//Base Settings
@use '../base/vars' as *;
@use '../base/typography' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

//buttons and link blocks

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;

    .faux-btn{
        display: inline-block;
        width: 500px;
        max-width: 300px;
        border-radius: $border4;
        text-align: center;
        padding: 12px;
        color: #fff;
        font-weight: $medium;
        font-size: 0.875rem;
        margin: 15px 0 20px 0;
        @include box-shadow();
        text-transform: uppercase;
        line-height: 1.5rem;
    }

    .red-btn{
        color: $jne-red;
        border-right: $jne-red 0.031rem solid;
        border-bottom: $jne-red 0.031rem solid;
       
    }

    .blue-btn{
        color: $jne-blue;
        border-right: $jne-blue 0.031rem solid;
        border-bottom: $jne-blue 0.031rem solid;
    }

    .yellow-btn{
        color: #000;
        border-right: $jne-yellow 0.031rem solid;
        border-bottom: $jne-yellow 0.031rem solid;
    }
    @media(min-width: $break1){
        flex-wrap: nowrap;
        justify-content: space-around;
        max-width: 600px;
        margin: 0 auto;
        
        .red-btn{
            margin-right: 20px;
        }

        
        
    }
}

.view-all-btn{
    background: #121212;
    text-align: center;
    width: 100%;
    cursor: pointer;
    margin: 0;
    
    a{
        color: #fff;
        display: inline-block;
        width: 100%;
        padding: 42px;
        font-weight: $bold;
        text-transform: uppercase;
    }

    .black-border{
        padding: 20px 40px;
        border-radius: 10px;
        width: 550px;
        background: linear-gradient(145deg, #151515, #121212);
        box-shadow:  12px 12px 23px #0d0d0d,
        -12px -12px 23px #1b1b1b;
    }
}

.about-btn{
    background: $jne-blue;
    text-align: center;
    margin-bottom: 15px;

    a{
        color: #fff;
        display: inline-block;
        width: 100%;
        padding: 40px;
        font-weight: $bold;
        text-transform: uppercase;
    }

    .blue-border{
        padding:20px 56px;
        border-radius: 10px;
        background: linear-gradient(145deg, #334b7b, #2b3f68);
        box-shadow:  13px 13px 14px #26385c,
        -13px -13px 14px #3a548a;
    }
}

.top-btn{
    display: none;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 99;
    outline: none;
    color: $jne-red;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    opacity: 0.8;
    border: none;

    .fas{
        border: solid 2px $jne-white;
        border-radius: 50%;
        background: $jne-white;
        font-size: 1.5rem;
        transition: 1s;
    }
}