
@use 'vars' as *;
// @use '../utilities/mixins' as *;
// @use '../utilities/functions' as *;

html{
    font-family: $roboto;
}

h1{
    font-size: 1.15rem;
    font-weight: $bold;
    text-transform: uppercase;

    .escobell{
        font-weight: $light;
    }
}


h3{
    font-weight: $bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 10px 0 5px 0; 
}

h4{
    font-weight: $medium;
    font-size: 1.15rem;
    padding: 15px 0 5px 0;
}

h5{ 
    color: #fff;
    font-weight: $medium;
    padding: 4px;
}

.dev-par{
    font-style: italic;
    color: $jne-blue;
    line-height: 1.30rem;
    margin-bottom: 20px;
}

p{
    hyphens: none;
    line-height: 1.35rem;
}

.tools{
    text-transform: uppercase;
    font-weight: $bold;
    font-size: 1rem;
    margin-top: 15px;
}

.tools-par{
    line-height: 1.5rem;
}

.last-par{
    padding-bottom: 15px;
}