// @use 'typography' as *;
// @use '../utilities/functions' as *;
// @use '../utilities/mixins' as *;

//Colors
$jne-blue: #304673;
$jne-red: #BF212e;

//Dimensions
$siteWidth: 1000px;

//typography
$roboto: 'Roboto', sans-serif;

//font-weight
$body: 400;
$medium: 500;
$bold: 700;
$black: 900;

