// @use 'typography' as *;
// @use '../utilities/functions' as *;
// @use '../utilities/mixins' as *;

//Colors
$jne-blue: #304673;
$jne-red: #BF212e;
$jne-yellow: #f2b90c;
$jne-white: #f2f2f2;

//Dimensions
$siteWidth: 1200px;

//typography
$roboto: 'Roboto', sans-serif;

//font-weight
$light: 300;
$body: 400;
$medium: 500;
$bold: 700;
$black: 900;

//borders
$border4: 4px;

//box shadow
$shadow: 2px 2px 3px -1px rgba(30,16,13,0.35);

$padding: 10px 10px 25px 15px;

//testing
$redborder: 2px solid red;
$greenborder: 2px solid green;
$blueborder: 2px solid blue;
$purpleborder: 2px solid purple;
$orangeborder: 2px solid orange;
$blackborder: 2px solid black;