// @use 'typography' as *;
// @use '../utilities/functions' as *;
// @use '../utilities/mixins' as *;

//Colors
$jne-blue: #304673;
$jne-red: #bf212e;
$jne-yellow: #f2b90c;
$jne-white: #f2f2f2;

$jne-dark-blue: darken($jne-blue, 10%);
$jne-dark-red: darken($jne-red, 10%);
$jne-black-light: lighten(#000, 30%);

//typography
$roboto: "Roboto", sans-serif;

//font-weight
$light: 300;
$body: 400;
$medium: 500;
$bold: 700;
$black: 900;

//borders
$border4: 4px;

$padding: 10px 10px 25px 15px;

//testing
$redborder: 2px solid red;
$greenborder: 2px solid green;
$blueborder: 2px solid blue;
$purpleborder: 2px solid purple;
$orangeborder: 2px solid orange;
$blackborder: 2px solid black;

//Dimensions
$siteWidth: 1400px;

//Breakpoints
$menuBreak: 720px;
$break1: 650px;
$break2: 920px;
$break3: 1000px;
