@use '../base/vars' as *;
@use '../utilities/mixins' as *;

//styles for header global
header{    
    .header-row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        padding-top: 40px;
        height: 10vh;
        

        .logo{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-left: -15px;
            
            img{
                height: 75px;
                width: auto;
            }
        
            h1{
                margin-top: 32px;
                margin-left: -55px;
            }
        }
    }

    @media (min-width: 650px){
        background: rgba(255, 255, 255, 0.9);
        width: 100%;
        position: fixed;
        top: 0;
        margin: 0;
        z-index: 500;
        padding-top: 5px;
        padding-bottom: 10px;

        .header-row{
            @include mc;
            max-width: $siteWidth;
            flex-wrap: nowrap;
            justify-content: space-around;
            height: 90px;
            padding: 10px 0 0 20px;
           
            
            .logo{
                justify-content: flex-start;
                width: 50%;
                margin: 0;
            }

        }
        

    }
}