@use '../base/vars' as *;
@use '../utilities/mixins' as *;

//styles for index page

main{
    // display: grid;
    // grid-row-gap: 15px;

    .intro-container{
        height: 80vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;  

        .intro{
            width: 85vw;
            height: 80%;
            display: flex;
            align-items: center;

            h2{
                font-size: 1.875rem;
                line-height: 2.6rem;
                font-weight: $medium;

                .red-block{
                    border-bottom: 3px solid $jne-red;
                }

                .blue-block{
                    border-bottom: 3px solid $jne-blue;
                }

                .yellow-block{
                    border-bottom: 3px solid $jne-yellow;
                }
            }
        }
        @media (min-width: 800px){
            @include mc;
            max-width: $siteWidth;
            height: 95vh;

            .intro{
                max-width: 680px;
            }
        }
        
    }//end intro container

        .current-container{
            margin: 15px 0;
            background: $jne-white;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .cur-text-container{
                padding: $padding;
                align-content: center;
                background: $jne-white;
            
                @media (min-width: 460px){
                    margin: 0 auto;
                    width: 240px;
                    padding-left: 20px;
                    text-align: center;
                }
                    

                //styles for .tools and .tools-par are in typography
            }
        }
        
        .about-jenny-container{
            margin: 15px 0;
            
            .about-text-container{
                padding: 10px 20px 15px 15px;
                max-width: 550px;

                p{  
                    margin-top: 10px;
                    line-height: 1.35rem;
                }
                @media (min-width: 460px){
                    margin: 0 auto;
                    width: 90%;
                    
                    h3{
                        width: 100%;
                    }
                }
            }
        }

        .index-box-cont{
            display: grid;
            grid-template-columns: repeat (2, 2fr);
            grid-auto-rows: 50px;
            grid-column-gap: 15px;
            grid-template-areas: 
                    "yellow-box  black-box"
                    "yellow-box  black-box";
            

            .yellow-box{
                background: $jne-yellow;
                grid-area: yellow-box;
            }

            .black-box{
                background: #000;
                grid-area: black-box;
            }
        }

       
} //end main



