@use '../base/vars' as *;
@use '../utilities/mixins' as *;

//styles for index page

.intro-container {
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .intro {
    width: 85vw;
    height: 80%;
    display: flex;
    align-items: center;

    h1 {
      font-size: 1.875rem;
      line-height: 2.6rem;
      font-weight: $medium;
      text-transform: inherit;
      position: relative;

      .red-block {
        display: inline-block;
      }

      .red-block::after {
        content: "";
        display: block;
        height: 4px;
        background: $jne-red;
        animation: line-in 2s ease-out;
        width: 100%;
        animation-fill-mode: both;
      }

      .blue-block {
        display: inline-block;
      }

      .blue-block::before {
        width: 0%;
        display: inline-block;
      }
      .blue-block::after {
        width: 100%;
        content: "";
        display: block;
        height: 4px;
        background: $jne-blue;
        animation: line-in 2s ease-out 2s;
        animation-fill-mode: both;
      }

      .yellow-block {
        display: inline-block;
      }

      .yellow-block::after {
        content: "";
        display: block;
        height: 4px;
        background: $jne-yellow;
        animation: line-in 2s ease-out 4s;
        width: 100%;
        animation-fill-mode: both;
      }
    }
  }
  @keyframes line-in {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }
  @media (min-width: 800px) {
    @include mc;
    max-width: $siteWidth;
    height: 95vh;

    .intro {
      max-width: 680px;
    }
  }
} //end intro container

.wrapper-desktop {
  .current-container {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .cur-text-container {
      padding: 0;
      align-content: center;
      text-align: center;

      h2 {
        text-transform: uppercase;
        font-size: 1.25rem;
        margin-top: 50px;
      }

      h3 {
        text-transform: inherit;
        margin-top: 10px;
      }

      .button-container {
        display: inline-block;
        padding: 0;
        .btn {
          margin: 20px auto 25px auto;
        }
      }

      @media (min-width: $menuBreak) {
        margin: 0 auto;
        width: 240px;
        p {
          padding: 0;
        }
      }
    }
  }

  .about-jenny-container {
    margin: 15px 0;

    .about-text-container {
      padding: 10px 20px 15px 15px;
      max-width: 550px;

      p {
        margin-top: 10px;
        line-height: 1.35rem;
      }
      @media (min-width: $menuBreak) {
        margin: 0 auto;
        width: 90%;

        h3 {
          width: 100%;
        }
      }
    }
  }

  .index-box-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-template-areas:
      "yellow-box  black-box"
      "yellow-box  black-box";

    .yellow-box {
      background: $jne-yellow;
      grid-area: yellow-box;
    }

    .black-box {
      background: #000;
      grid-area: black-box;
    }
  }
  @media (min-width: $break2) {
    padding: 0;
    margin: 0 auto;
    background: #fff;

    .current-container {
      width: 100%;
      background: #fff;
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      grid-auto-rows: 100px;
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 0.75rem;
      grid-template-areas:
        "cur-img    cur-img     cur-text    cur-text"
        "cur-img    cur-img     cur-text    cur-text"
        "cur-img    cur-img     more-link  more-link";
      picture {
        grid-column: 1/3;
        grid-row: 1/4;
        height: 100%;
        width: 100%;
        grid-area: cur-img;

        img {
          display: block;
          object-fit: cover;
        }
      }

      .cur-text-container {
        height: 100%;
        width: 100%;
        grid-area: cur-text;
        padding-top: 25px;
      }

      .view-all-btn {
        grid-area: more-link;
      }
    }

    .about-jenny-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 15px;
      grid-template-areas:
        "about-text about-text  about-img   index-box"
        "about-text about-text  about-img   index-box"
        "about-text about-text  about-img   index-box"
        "about-text about-text  about-btn   index-box"
        "about-text about-text  about-btn   index-box";

      picture {
        grid-area: about-img;

        img {
          height: 230px;
          width: 100%;
          max-height: 192px;
          object-fit: cover;
          display: block;
        }
      }

      .about-text-container {
        grid-area: about-text;
        padding-top: 50px;
        width: 100%;
        height: 100%;
      }

      .about-btn {
        grid-area: about-btn;
        padding: 35px;
        height: 100%;
        background: $jne-blue;
        // margin-top: 1px;

        a {
          padding: 10px;
        }
        .blue-border {
          padding: 15px;
        }
      }

      .index-box-cont {
        // grid-column: 4/5;
        // grid-row: 3/4;
        grid-template-rows: 100px;
        grid-template-areas:
          "yellow-box  yellow-box"
          "yellow-box  yellow-box"
          "yellow-box  yellow-box"
          "black-box  black-box"
          "black-box  black-box"
          "black-box  black-box";
        grid-gap: 15px;
        grid-area: index-box;
      }
    }
  }
}
