@use '../base/vars' as *;
@use '../utilities/mixins' as *;

// Individual Project Pages Styles

.project-intro {
  margin-top: 100px;
  position: relative;
  @media (min-width: $menuBreak) {
    margin-top: 110px;
  }

  picture {
    img {
      object-fit: cover;
      display: block;
    }
  }

  .project-summary {
    margin-top: 15px;
    @media (min-width: $menuBreak) {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .summary-container {
        padding-right: 20px;
      }
    }
    @media (min-width: $break3) {
      .ts-btn {
        &:hover,
        :active {
          box-shadow: -3px -3px 7px #ebebeb inset, 3px 3px 7px #b49497 inset;
          user-select: none;
        }
      }

      .pf-btn {
        &:hover,
        :active {
          &:hover,
          :active {
            box-shadow: -3px -3px 7px #e8e8e8 inset, 3px 3px 7px #a2adba inset;
            user-select: none;
          }
        }
      }
    }
  }

  .scroll-down {
    display: none;
    @media (min-width: $break3) {
      display: inline-block;
      position: absolute;
      border: 1.5px solid #000;
      border-radius: 20px;
      width: 25px;
      height: 40px;
      padding: 2px 0px;
      bottom: 5vh;
      margin-left: 50%;
      transform: translateX(-50%);
      opacity: 0.8;

      .rond {
        height: 4px;
        width: 4px;
        border-radius: 50%;
        background-color: #000;
        margin: 0 auto;
        animation: scroll 3.5s infinite;
      }
    }
  }
  .scroll-white {
    border: 1.5px solid #fff;

    .rond {
      background: #fff;
    }
  }

  @keyframes scroll {
    0% {
      margin-top: 0px;
      opacity: 0;
    }
    100% {
      margin-top: 25px;
      opacity: 1;
    }
  }

  //project intro desktop 1000px
  @media (min-width: $break3) {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;

    picture {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: $jne-red;

      img {
        margin-left: -10px;
        display: block;
        height: 100%;
      }
    }

    .portfolio-header {
      background: $jne-blue;

      img {
        margin-left: 0;
        width: 100%;
      }
    }

    .moviebuff-header {
      background: $jne-yellow;
      img {
        width: 100%;
        margin-left: 0;
      }
    }

    .project-summary {
      position: absolute;
      z-index: 1;
      border-radius: $border4;
      width: 48%;
      left: 52%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      text-shadow: 2px 2px 2px rgba(20, 2, 2, 0.4);
      padding: 0 50px 0 0;

      .summary-container {
        padding: 10px;
      }
      .summary-yellow {
        color: #000;
        // text-shadow: 1px 1px 1px rgba(20, 2, 2, 0.2);
        text-shadow: none;
      }
      .btn {
        text-shadow: none;
      }
    }
  } //project-intro desktop
} //project-intro

.box {
  margin-bottom: 15px;
  padding: 10px;
  @media (min-width: $break3) {
    padding: 20px;
  }

  h1 {
    margin: 15px 0;
    padding-left: 10px;
  }

  h2 {
    padding-left: 10px;
    margin: 15px 0 10px;
  }
  p {
    line-height: 1.4rem;
    margin-bottom: 12px;
    max-width: $break3;
    padding-left: 10px;
    padding-right: 10px;
    @media (min-width: $break3) {
      padding-right: 50px;
    }
  }
  .timeline {
    font-weight: $medium;
  }

  a {
    color: darken($jne-red, 15%);
  }
}

.key-info {
  .key-container {
    @include mc;
    @include box-shadow;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto 35px;
    text-align: center;
    background: #fff;
    color: #000;
    min-width: 315px;
    max-width: 400px;
    height: 250px;
    border-radius: $border4;
    padding: 10px;

    .fas {
      display: block;
      font-size: 2rem;
      width: 100%;
      padding: 0;
      margin-top: 40px;
    }
    .fas-ts {
      color: $jne-red;
    }
    .fas-pf {
      color: $jne-blue;
    }
    .fas-mb {
      color: $jne-yellow;
    }
    h2 {
      margin: 15px 0;
      width: 100%;
      padding: 0;
    }
    .no-break {
      display: inline;
    }
  }
  @media (min-width: $menuBreak) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 45px;
    max-width: 1450px;
    margin: 0 auto;

    .key-container {
      padding: 0 10px;
      // width: 500px;
      margin-top: 45px;
      padding: 0 45px;

      p {
        padding: 0;
      }
    }
  }
}

.accordion-container {
  padding: 0;
  background: #fff;
}

.indiv-box-cont {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  grid-column-gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  font-weight: $medium;
  grid-template-areas: "blue-box  black-box";

  .blue-box,
  .black-box {
    color: #fff;
    padding: 40px 30px;
  }

  .blue-box {
    background: $jne-blue;
    grid-area: blue-box;
  }

  .black-box {
    background: #000;
    grid-area: black-box;
    text-align: right;
  }

  @media (min-width: $menuBreak) {
    .blue-box,
    .black-box {
      padding: 40px 50px;
    }
  }
}
