@use '../base/vars' as *;
@use '../utilities/mixins' as *;

// Individual Project Pages Styles

.project-intro{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    grid-row-gap: 15px;
    margin-top: 100px;

    picture{

        img{
            object-fit: cover;
            display: block;
        }
    }

    .project-summary{
        padding: $padding;
        background: $jne-white;
        
        h3{
            margin-bottom: 15px;
        }
        p{
            line-height: 1.4rem;
            margin-bottom: 15px;
        }

        .timeline{
            font-weight: $medium;
        }
    }

    @media(min-width: $break1){
        margin-top: 110px;
    }

    @media (min-width: $break2){
        @include mc;
        max-width: $siteWidth;
        margin-top: 110px;
        margin-bottom: 15px;

        picture{
            // border: $blueborder;
            max-height: 350px;
            img{
                object-position: 0 -150px;
                display: block;
                object-fit: cover;
            }
        }

        .portfolio-header{
            img{
                object-position: 0 -300px;
            }
        }

        .moviebuff-header{
            img{
               object-position: 0 -200px;
            }
        }

        .project-summary{
            padding: 25px 50px;
            h3, h4, p, .timeline{
                @include mc;
                max-width: 750px;
                line-height: 1.6rem;
            }
            
            h3{
                margin-bottom: 10px;
            }

            h4{
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .timeline{
                margin-top: 15px;
            }
        }
    }//end media project intro
    

}

.key-info{
    background: $jne-blue;
    color: #fff;
    padding: $padding;

    h3{
        line-height: 1.75rem;
        font-size: 1.15rem;
        text-transform: none;
    }

    p{
        margin-bottom: 15px;
        line-height: 1.45rem;
    }

    .last-par{
        margin-bottom: 0;
    }
    @media(min-width: $break1){
        padding: 20px 50px;
    }

    @media(min-width: $break2){
        @include mc;
        max-width: $siteWidth;
        padding: 25px 50px;
        margin-bottom: 15px;
        
        .key-heading, p{
            @include mc;
            max-width: 750px;          
        }
        p{
            margin-bottom: 10px;
        }
        
    }
}//end key info

.accordion-container{
    background: $jne-red;
    @media(min-width: $break2){
        @include mc;
        max-width: $siteWidth;
        margin-bottom: 15px;
        @include box-shadow;
    }

}

.reflections{
    padding: $padding;
    margin-bottom: 5px;
    background: $jne-white;
    
    h3{
        text-transform: none;
    }

    p{
       margin-bottom: 15px;
    }
    @media(min-width: $break1){
        padding: 20px 50px;
    }

    @media(min-width: $break2){
        @include mc;
        max-width: $siteWidth;
        margin-bottom: 25px;

        h3, p{
            @include mc;
            max-width: 750px;
        }

        h3{
            margin-bottom: 10px;
        }

        p{
            margin-bottom: 15px;
            line-height: 1.6rem;
        }
    }
}



.indiv-box-cont{
    display: grid;
    grid-template-columns: repeat (2, 2fr);
    grid-auto-rows: 50px;
    grid-column-gap: 15px;
    align-items: center;
    margin-bottom: 15px;
    
    grid-template-areas: 
            "blue-box  black-box";
    .blue-box{
        background: $jne-blue;
        grid-area: blue-box;
        color: white;
        padding: 25px;
    }

    .black-box{
        background: #000;
        grid-area: black-box;
        color: white;
        text-align: right;
        padding: 25px;
    }
    @media(min-width: $break2){
        @include mc;
        max-width: $siteWidth;
        margin-bottom: 35px;
    }
}