@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  letter-spacing: 0.055rem;
}

h1 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: 1.15rem;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  font-size: 1.15rem;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}

h4 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.35rem;
  margin: 10px 0 5px 0;
}

h5 {
  color: #fff;
  font-weight: 500;
  padding: 4px;
}

.name {
  margin-top: 32px;
  margin-left: -55px;
  font-size: 1.15rem;
  font-weight: 700;
  text-transform: uppercase;
}
.name .escobell {
  font-weight: 300;
}

.dev-par {
  font-style: italic;
  color: #304673;
  line-height: 1.3rem;
  margin-bottom: 20px;
}

p {
  hyphens: none;
  line-height: 1.35rem;
}

.tools {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 15px;
}

.tools-par {
  line-height: 1.5rem;
}

.last-par {
  padding-bottom: 15px;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

.intro-container {
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-container .intro {
  width: 85vw;
  height: 80%;
  display: flex;
  align-items: center;
}
.intro-container .intro h1 {
  font-size: 1.875rem;
  line-height: 2.6rem;
  font-weight: 500;
  text-transform: inherit;
}
.intro-container .intro h1 .red-block {
  border-bottom: 3px solid #bf212e;
}
.intro-container .intro h1 .blue-block {
  border-bottom: 3px solid #304673;
}
.intro-container .intro h1 .yellow-block {
  border-bottom: 3px solid #f2b90c;
}
@media (min-width: 800px) {
  .intro-container {
    max-width: 1400px;
    margin: 0 auto;
    max-width: 1400px;
    height: 95vh;
  }
  .intro-container .intro {
    max-width: 680px;
  }
}

.wrapper-desktop .current-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-desktop .current-container .cur-text-container {
  padding: 0;
  align-content: center;
  text-align: center;
}
.wrapper-desktop .current-container .cur-text-container h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-top: 50px;
}
.wrapper-desktop .current-container .cur-text-container h3 {
  text-transform: inherit;
  margin-top: 10px;
}
.wrapper-desktop .current-container .cur-text-container .button-container {
  display: inline-block;
  padding: 0;
}
.wrapper-desktop .current-container .cur-text-container .button-container .btn {
  margin: 20px auto 25px auto;
}
@media (min-width: 720px) {
  .wrapper-desktop .current-container .cur-text-container {
    margin: 0 auto;
    width: 240px;
  }
  .wrapper-desktop .current-container .cur-text-container p {
    padding: 0;
  }
}
.wrapper-desktop .about-jenny-container {
  margin: 15px 0;
}
.wrapper-desktop .about-jenny-container .about-text-container {
  padding: 10px 20px 15px 15px;
  max-width: 550px;
}
.wrapper-desktop .about-jenny-container .about-text-container p {
  margin-top: 10px;
  line-height: 1.35rem;
}
@media (min-width: 720px) {
  .wrapper-desktop .about-jenny-container .about-text-container {
    margin: 0 auto;
    width: 90%;
  }
  .wrapper-desktop .about-jenny-container .about-text-container h3 {
    width: 100%;
  }
}
.wrapper-desktop .index-box-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-template-areas: "yellow-box  black-box" "yellow-box  black-box";
}
.wrapper-desktop .index-box-cont .yellow-box {
  background: #f2b90c;
  grid-area: yellow-box;
}
.wrapper-desktop .index-box-cont .black-box {
  background: #000;
  grid-area: black-box;
}
@media (min-width: 920px) {
  .wrapper-desktop {
    padding: 0;
    margin: 0 auto;
    background: #fff;
  }
  .wrapper-desktop .current-container {
    width: 100%;
    background: #fff;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: 100px;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.75rem;
    grid-template-areas: "cur-img    cur-img     cur-text    cur-text" "cur-img    cur-img     cur-text    cur-text" "cur-img    cur-img     more-link  more-link";
  }
  .wrapper-desktop .current-container picture {
    grid-column: 1/3;
    grid-row: 1/4;
    height: 100%;
    width: 100%;
    grid-area: cur-img;
  }
  .wrapper-desktop .current-container picture img {
    display: block;
    object-fit: cover;
  }
  .wrapper-desktop .current-container .cur-text-container {
    height: 100%;
    width: 100%;
    grid-area: cur-text;
    padding-top: 25px;
  }
  .wrapper-desktop .current-container .view-all-btn {
    grid-area: more-link;
  }
  .wrapper-desktop .about-jenny-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    grid-template-areas: "about-text about-text  about-img   index-box" "about-text about-text  about-img   index-box" "about-text about-text  about-img   index-box" "about-text about-text  about-btn   index-box" "about-text about-text  about-btn   index-box";
  }
  .wrapper-desktop .about-jenny-container picture {
    grid-area: about-img;
  }
  .wrapper-desktop .about-jenny-container picture img {
    height: 230px;
    width: 100%;
    max-height: 192px;
    object-fit: cover;
    display: block;
  }
  .wrapper-desktop .about-jenny-container .about-text-container {
    grid-area: about-text;
    padding-top: 50px;
    width: 100%;
    height: 100%;
  }
  .wrapper-desktop .about-jenny-container .about-btn {
    grid-area: about-btn;
    padding: 35px;
    height: 100%;
    background: #304673;
  }
  .wrapper-desktop .about-jenny-container .about-btn a {
    padding: 10px;
  }
  .wrapper-desktop .about-jenny-container .about-btn .blue-border {
    padding: 15px;
  }
  .wrapper-desktop .about-jenny-container .index-box-cont {
    grid-template-rows: 100px;
    grid-template-areas: "yellow-box  yellow-box" "yellow-box  yellow-box" "yellow-box  yellow-box" "black-box  black-box" "black-box  black-box" "black-box  black-box";
    grid-gap: 15px;
    grid-area: index-box;
  }
}

.project-wrapper {
  margin-top: 100px;
}
.project-wrapper h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
}
.project-wrapper h3 {
  text-transform: inherit;
  margin-top: 10px;
}
.project-wrapper .proj-box {
  text-align: center;
  padding-top: 25px;
}
.project-wrapper .proj-box h2 {
  margin-bottom: 10px;
}
.project-wrapper .proj-box h3 {
  margin-top: 0px;
  padding: 0;
}
.project-wrapper .proj-box .tools {
  margin: 35px 0 5px;
}
.project-wrapper .react-proj {
  margin-top: 15px;
}
.project-wrapper .button-container .btn {
  background: #f2f2f2;
}
@media (min-width: 920px) {
  .project-wrapper .button-container {
    padding-right: 0;
    padding-top: 5px;
  }
  .project-wrapper .button-container .btn {
    margin-top: 20px;
  }
}
.project-wrapper .current-proj .proj-cur-textbox {
  background-color: #f2f2f2;
  margin-top: 13px;
}
.project-wrapper .portfolio-proj .portfolio-textbox {
  background-color: #f2f2f2;
  margin-top: 13px;
}
.project-wrapper .react-textbox {
  background-color: #f2f2f2;
  margin-top: 13px;
}
@media (min-width: 920px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.75rem;
    margin: 0 auto;
  }
  .project-wrapper .current-proj {
    grid-column: 1/3;
    padding: 0, 10px;
    max-width: 100%;
    margin-top: 125px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .project-wrapper .current-proj picture img {
    height: 500px;
    object-fit: cover;
    width: 100%;
    display: block;
  }
  .project-wrapper .current-proj .proj-cur-textbox {
    width: 100%;
    height: 40.5%;
    text-align: center;
    margin-top: 15px;
    background-color: #f2f2f2;
  }
  .project-wrapper .portfolio-proj {
    grid-column: 3/8;
    margin-top: 125px;
    height: 800px;
  }
  .project-wrapper .portfolio-proj img {
    height: 500px;
    width: 1400px;
    object-fit: cover;
    object-position: center bottom;
    display: block;
  }
  .project-wrapper .portfolio-proj .portfolio-textbox {
    width: 100%;
    height: 324px;
    margin-top: 15px;
  }
  .project-wrapper .react-proj {
    grid-column: 1/8;
    margin: 40px 0 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    background: none;
  }
  .project-wrapper .react-proj picture {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .project-wrapper .react-proj picture img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .project-wrapper .react-proj .react-textbox {
    padding-top: 170px;
    width: 100%;
    height: 100%;
    margin-left: 0.75rem;
    margin-top: 0;
  }
}

.project-intro {
  margin-top: 100px;
  position: relative;
}
@media (min-width: 720px) {
  .project-intro {
    margin-top: 110px;
  }
}
.project-intro picture img {
  object-fit: cover;
  display: block;
}
.project-intro .project-summary {
  margin-top: 15px;
}
@media (min-width: 720px) {
  .project-intro .project-summary {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .project-intro .project-summary .summary-container {
    padding-right: 20px;
  }
}
.project-intro .scroll-down {
  display: none;
}
@media (min-width: 1000px) {
  .project-intro .scroll-down {
    display: inline-block;
    position: absolute;
    border: 1.5px solid #000;
    border-radius: 20px;
    width: 25px;
    height: 40px;
    padding: 2px 0px;
    bottom: 5vh;
    margin-left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
  }
  .project-intro .scroll-down .rond {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 auto;
    animation: anim1 3.5s infinite;
  }
}
.project-intro .scroll-white {
  border: 1.5px solid #fff;
}
.project-intro .scroll-white .rond {
  background: #fff;
}
@keyframes anim1 {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: 25px;
    opacity: 1;
  }
}
@media (min-width: 1000px) {
  .project-intro {
    position: relative;
    height: 90vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  .project-intro picture {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #bf212e;
  }
  .project-intro picture img {
    margin-left: -10px;
    display: block;
    height: 100%;
  }
  .project-intro .portfolio-header {
    background: #304673;
  }
  .project-intro .portfolio-header img {
    margin-left: 0;
    width: 100%;
  }
  .project-intro .moviebuff-header {
    background: #f2b90c;
  }
  .project-intro .moviebuff-header img {
    width: 100%;
    margin-left: 0;
  }
  .project-intro .project-summary {
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    width: 48%;
    left: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(20, 2, 2, 0.4);
    padding: 0 50px 0 0;
  }
  .project-intro .project-summary .summary-container {
    padding: 10px;
  }
  .project-intro .project-summary .summary-yellow {
    color: #000;
    text-shadow: none;
  }
  .project-intro .project-summary .btn {
    text-shadow: none;
  }
}

.box {
  margin-bottom: 15px;
  padding: 10px;
}
@media (min-width: 1000px) {
  .box {
    padding: 20px;
  }
}
.box h1 {
  margin: 15px 0;
  padding-left: 10px;
}
.box h2 {
  padding-left: 10px;
  margin: 15px 0 10px;
}
.box p {
  line-height: 1.4rem;
  margin-bottom: 12px;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 1000px) {
  .box p {
    padding-right: 50px;
  }
}
.box .timeline {
  font-weight: 500;
}
.box a {
  color: #7e161e;
}

.key-info .key-container {
  max-width: 1400px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 35px;
  text-align: center;
  background: #fff;
  color: #000;
  min-width: 315px;
  max-width: 400px;
  height: 250px;
  border-radius: 4px;
  padding: 10px;
}
.key-info .key-container .fas {
  display: block;
  font-size: 2rem;
  width: 100%;
  padding: 0;
  margin-top: 40px;
}
.key-info .key-container .fas-ts {
  color: #bf212e;
}
.key-info .key-container .fas-pf {
  color: #304673;
}
.key-info .key-container .fas-mb {
  color: #f2b90c;
}
.key-info .key-container h2 {
  margin: 15px 0;
  width: 100%;
  padding: 0;
}
.key-info .key-container .no-break {
  display: inline;
}
@media (min-width: 720px) {
  .key-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 45px;
    max-width: 1450px;
    margin: 0 auto;
  }
  .key-info .key-container {
    padding: 0 10px;
    margin-top: 45px;
    padding: 0 45px;
  }
  .key-info .key-container p {
    padding: 0;
  }
}

.accordion-container {
  padding: 0;
  background: #fff;
}

.indiv-box-cont {
  display: grid;
  grid-template-columns: repeat 2, 1fr;
  grid-column-gap: 15px;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 500;
  grid-template-areas: "blue-box  black-box";
}
.indiv-box-cont .blue-box,
.indiv-box-cont .black-box {
  color: #fff;
  padding: 40px 30px;
}
.indiv-box-cont .blue-box {
  background: #304673;
  grid-area: blue-box;
}
.indiv-box-cont .black-box {
  background: #000;
  grid-area: black-box;
  text-align: right;
}
@media (min-width: 720px) {
  .indiv-box-cont .blue-box,
.indiv-box-cont .black-box {
    padding: 40px 50px;
  }
}

.about-wrapper .about-intro-1 {
  margin-top: 100px;
  position: relative;
}
.about-wrapper .about-intro-1 .pic-cont {
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.about-wrapper .about-intro-1 .pic-cont img {
  width: auto;
  object-fit: cover;
}
.about-wrapper .about-intro-1 .welcome-container {
  display: none;
}
.about-wrapper .about-intro-1 .about-text {
  padding: 15px;
  max-width: 100%;
}
.about-wrapper .about-intro-1 .about-text h3 {
  padding: 20px 0 5px 15px;
}
.about-wrapper .about-intro-1 .about-text p {
  padding: 20px 15px 5px 15px;
  line-height: 1.4rem;
  max-width: 550px;
  display: inline-block;
}
.about-wrapper .toolkit {
  background: #304673;
}
.about-wrapper .toolkit .toolkit-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px 25px 15px;
  color: #fff;
  max-width: 600px;
}
.about-wrapper .toolkit h3 {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid #283b61;
  padding-bottom: 15px;
  border-radius: 4px;
}
.about-wrapper .toolkit ul {
  line-height: 1.6rem;
}
.about-wrapper .toolkit ul .li-heading {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.05rem;
}
.about-wrapper .toolkit ul .li {
  padding: 10px 0;
  display: inline-block;
}
.about-wrapper .toolkit ul .adobe {
  margin-left: 10px;
  font-weight: 300;
}
@media (min-width: 650px) {
  .about-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    max-width: 800px;
    margin-top: 110px;
  }
  .about-wrapper .about-intro-1 {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.75rem;
    grid-template-areas: "about-text   about-text   img          img  " "all-link   all-link       all-link    all-link  ";
  }
  .about-wrapper .about-intro-1 picture {
    grid-area: img;
    margin: 0;
    padding: 0;
  }
  .about-wrapper .about-intro-1 picture img {
    display: block;
    object-fit: cover;
    max-height: 100%;
  }
  .about-wrapper .about-intro-1 .welcome-container {
    display: none;
  }
  .about-wrapper .about-intro-1 .about-text {
    grid-area: about-text;
  }
  .about-wrapper .about-intro-1 .view-all-btn {
    grid-area: all-link;
  }
}

.wrpr-contact {
  padding: 0;
}
.wrpr-contact .contact-intro {
  max-width: 1400px;
  margin: 0 auto;
  margin: 75px auto 10px auto;
  max-width: 650px;
  padding: 50px 20px;
}
.wrpr-contact .contact-intro h2 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (min-width: 650px) {
  .wrpr-contact .contact-intro {
    max-width: 850px;
    margin-top: 120px;
  }
}
@media (min-width: 650px) {
  .wrpr-contact {
    height: 150px;
  }
}

.contact-boxes {
  max-width: 1400px;
  margin: 0 auto;
  background: #fff;
  max-width: 1400px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat 2, 2fr;
  grid-auto-rows: 125px;
  grid-gap: 15px;
  grid-template-areas: "email      email" "tweet      linkedin" "call        call";
}
.contact-boxes .box {
  padding: 35px;
  color: #fff;
  text-align: center;
  line-height: 2rem;
}
.contact-boxes .box:hover {
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
}
.contact-boxes .box-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.contact-boxes .fas, .contact-boxes .fab {
  font-size: 1.875rem;
}
.contact-boxes .email {
  grid-area: email;
  background-color: #bf212e;
}
.contact-boxes .fa-twitter {
  grid-area: tweet;
  background-color: #f2f2f2;
  color: #bf212e;
}
.contact-boxes .fa-linkedin-in {
  grid-area: linkedin;
  background-color: #f2b90c;
  color: #304673;
}
.contact-boxes .fa-mobile {
  grid-area: call;
  background-color: #304673;
}
@media (min-width: 650px) {
  .contact-boxes {
    max-width: 650px;
    grid-auto-rows: 90px;
    grid-gap: 0;
    height: 65vh;
    grid-template-areas: "email      email" "tweet      linkedin" "tweet      linkedin" "call        call";
  }
}

.accordion-container-02 .tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-container-02 .plus-minus {
  transition: transform 0.3s ease;
}

.accordion-container-02 .plus-minus.close {
  transform: rotate(45deg);
}

.accordion {
  margin-bottom: 50px;
}
.accordion h2 {
  margin: 0 auto;
  padding: 28px 25px;
}

.accordion-blue .tab {
  border-bottom: 1px solid rgba(48, 70, 115, 0.3);
}
.accordion-blue .tab:hover, .accordion-blue .tab:active {
  background-color: #304673;
}
.accordion-blue .content .fas,
.accordion-blue .content .far {
  color: #304673;
}

.accordion-yellow .tab {
  border-bottom: 1px solid #f2b90c;
}
.accordion-yellow .tab:hover, .accordion-yellow .tab:active {
  background-color: #f2b90c;
  color: #000;
}
.accordion-yellow .content .fas,
.accordion-yellow .content .far {
  color: #f2b90c;
}

.tab {
  background-color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid rgba(191, 33, 46, 0.3);
  text-transform: none;
  font-weight: 700;
  font-size: 1.15rem;
}
.tab:hover, .tab:active {
  background-color: #bf212e;
  color: #fff;
}

.fas {
  font-size: 0.875rem;
  font-weight: 500;
}

.content {
  display: none;
  overflow: hidden;
  padding: 15px;
  margin-bottom: 15px;
}
.content h3 {
  margin: 20px 0 5px 0;
  font-size: 1.15rem;
  padding: 5px 10px;
  text-transform: capitalize;
}
.content h4 {
  width: 100%;
  padding-left: 10px;
}
.content .last-par {
  margin-bottom: 15px;
}
.content .wireframes {
  margin: 10px auto;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  max-height: 400px;
  width: 100%;
  overflow: scroll;
}
.content .wireframes img {
  border-radius: 4px;
  margin-bottom: 15px;
  border: 1px solid rgba(194, 194, 194, 0.5);
  width: 500px;
}
.content .logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px auto 35px auto;
}
.content .logo-container img {
  height: 200px;
  width: auto;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  border-radius: 4px;
  padding: 20px;
}
.content .wireframes-pf img {
  border: none;
  height: 450px;
  width: auto;
}
.content .pf-logo-container img {
  height: 150px;
  margin: 20px 0 10px;
}
.content .mb-logo-container img {
  height: 150px;
  background-color: #000;
  display: block;
  object-fit: cover;
}
.content .colour-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  max-width: 375px;
  margin: 0 auto 35px auto;
}
.content .colour-container h4 {
  grid-column: 1/3;
  margin-top: 50px;
}
@media (min-width: 550px) {
  .content .colour-container {
    grid-template-columns: repeat(4, 1fr);
    max-width: 750px;
  }
  .content .colour-container h4 {
    grid-column: 1/5;
  }
}
.content .colour-container .colour {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 125px;
  height: 125px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  border-radius: 4px;
  position: relative;
}
.content .colour-container .colour p {
  display: inline-block;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  padding: 5px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.content .colour-container .ts-1 {
  background-color: #5c9090;
}
.content .colour-container .ts-2 {
  background-color: #e8b665;
}
.content .colour-container .ts-3 {
  background-color: #513626;
}
.content .colour-container .ts-4 {
  background-color: #eee8db;
}
.content .colour-container .ts-5 {
  background-color: #f7f7f7;
}
.content .colour-container .jne-1 {
  background-color: #bf212e;
}
.content .colour-container .jne-2 {
  background-color: #304673;
}
.content .colour-container .jne-3 {
  background-color: #f2b90c;
}
.content .colour-container .jne-4 {
  background-color: #f2f2f2;
}
.content .colour-container .mb-1 {
  background: #000;
  color: #000;
}
.content .colour-container .mb-2 {
  background-color: #fc007a;
  color: #000;
}
.content .colour-container .mb-3 {
  background-color: #40132a;
  color: #000;
}
.content .colour-container .mb-4 {
  background-color: #a3768c;
  color: #000;
}
.content .image-style-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto 35px auto;
}
.content .image-style-container p {
  width: 100%;
}
.content .image-style-container .image-style-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  max-width: 375px;
  margin: 0 auto 35px auto;
  height: 225px;
  overflow: scroll;
}
@media (min-width: 550px) {
  .content .image-style-container .image-style-box {
    grid-template-columns: repeat(4, 1fr);
    max-width: 700px;
    margin: 0 auto 10px auto;
    height: auto;
  }
}
.content .image-style-container .image-style-box img {
  margin: 8px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
}
@media (min-width: 550px) {
  .content .image-style-container {
    margin: 10px auto;
  }
}
.content .mockup-designs {
  margin: 40px 0;
}
.content .mockup-designs img {
  border-radius: 4px;
}
@media (min-width: 550px) {
  .content .pf-mockup-designs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  .content .pf-mockup-designs h3,
.content .pf-mockup-designs p {
    grid-column: 1/3;
  }
}
.content .fas,
.content .far {
  font-size: 1.1rem;
  color: #941924;
}
@media (min-width: 1000px) {
  .content {
    margin: 0 auto;
    max-width: 875px;
  }
  .content .wireframes {
    width: 80%;
  }
}

.content-reflections {
  display: grid;
}
.content-reflections a {
  margin: 0 auto;
}
.content-reflections a img {
  border-radius: 4px;
  margin: 0 auto;
  height: 250px;
  width: auto;
}

header .header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding-top: 40px;
  height: 10vh;
}
header .header-row .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -15px;
}
header .header-row .logo img {
  height: 75px;
  width: auto;
}
@media (min-width: 720px) {
  header {
    background: rgba(255, 255, 255, 0.99);
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 500;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  header .header-row {
    max-width: 1400px;
    margin: 0 auto;
    max-width: 1400px;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 90px;
    padding: 10px 0 0 20px;
  }
  header .header-row .logo {
    justify-content: flex-start;
    width: 50%;
    margin: 0;
  }
}

nav {
  width: 100%;
  background: #000;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  z-index: 900;
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}
nav ul a {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px 20px;
  color: #fff;
  font-weight: 500;
}
nav ul a:hover {
  font-weight: 300;
}
@media (min-width: 720px) {
  nav {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    background: none;
    width: 50%;
    justify-content: flex-end;
    right: 0;
  }
  nav ul {
    margin: 0;
    justify-content: flex-end;
    width: auto;
  }
  nav ul a {
    color: #000;
    margin: 0;
  }
  nav ul .ani-link {
    display: inline-block;
  }
  nav ul .ani-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background: #bf212e;
    transition: width 0.3s;
    margin-top: 10px;
  }
  nav ul .ani-link:hover {
    font-weight: 500;
  }
  nav ul .ani-link:hover::after {
    width: 100%;
  }
  nav ul .ani-blue::after {
    background: #304673;
  }
  nav ul .ani-yellow::after {
    background: #f2b90c;
  }
  nav ul .ani-black::after {
    background: #000;
  }
}

footer {
  margin-top: 50px;
  padding-bottom: 90px;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  padding-top: 20px;
}
footer .footer-logo .logo {
  display: flex;
  flex-wrap: nowrap;
}
footer .footer-logo .logo img {
  height: 75px;
  width: auto;
}
footer .footer-social {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
footer .footer-social a {
  padding: 10px;
  font-size: 1.5rem;
}
footer .footer-social a:hover {
  color: #bf212e;
}
footer p {
  text-align: center;
  padding: 10px;
  font-size: 0.875rem;
}
@media (min-width: 720px) {
  footer {
    max-width: 1400px;
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "logo   par par    social";
    justify-content: space-between;
    padding: 10px 0 50px 10px;
    margin: 50px auto;
    width: 100%;
    height: 75px;
  }
  footer .footer-logo {
    grid-area: logo;
    width: 200px;
    padding: 0;
  }
  footer .footer-logo .logo img {
    height: 50px;
    margin-top: -5px;
  }
  footer .footer-logo .logo .name {
    margin-top: 18px;
    margin-left: -35px;
  }
  footer .footer-social {
    grid-area: social;
    width: 150px;
    margin: 0;
  }
  footer .footer-par {
    width: auto;
    grid-area: par;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-container .faux-btn {
  display: inline-block;
  width: 300px;
  max-width: 500px;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 15px 0 20px 0;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  text-transform: uppercase;
  line-height: 1.5rem;
}
.btn-container .red-btn {
  color: #bf212e;
  border-right: #bf212e 0.031rem solid;
  border-bottom: #bf212e 0.031rem solid;
}
.btn-container .blue-btn {
  color: #304673;
  border-right: #304673 0.031rem solid;
  border-bottom: #304673 0.031rem solid;
}
.btn-container .yellow-btn {
  color: #000;
  border-right: #f2b90c 0.031rem solid;
  border-bottom: #f2b90c 0.031rem solid;
}
@media (min-width: 650px) {
  .btn-container {
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 600px;
    margin: 0 auto;
  }
  .btn-container .red-btn {
    margin-right: 20px;
  }
}

.view-all-btn {
  background: #121212;
  text-align: center;
  width: 100%;
  cursor: pointer;
  margin: 0;
}
.view-all-btn a {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 42px;
  font-weight: 700;
  text-transform: uppercase;
}
.view-all-btn .black-border {
  padding: 20px 40px;
  width: 550px;
  border-radius: 5px;
  background: linear-gradient(145deg, #151515, #151515);
  box-shadow: 8px 8px 16px #0a0a0a, -8px -8px 16px #141414;
}
.view-all-btn .black-border:hover,
.view-all-btn .black-border :active {
  box-shadow: -3px -3px 5px #070707 inset, 3px 3px 5px #0e0e0e inset;
  user-select: none;
}

.about-btn {
  background: #304673;
  text-align: center;
  margin-bottom: 15px;
}
.about-btn a {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 42px;
  font-weight: 700;
  text-transform: uppercase;
}
.about-btn .blue-border {
  padding: 20px 40px;
  border-radius: 7px;
  background: linear-gradient(145deg, #334b7b, #2b3f68);
  box-shadow: 9px 9px 18px #2b3e66, -9px -9px 18px #354e80;
  border-radius: 7px;
  background: linear-gradient(145deg, #334b7b, #2b3f68);
  box-shadow: 9px 9px 18px #2b3e66, -9px -9px 18px #354e80;
}
.about-btn .blue-border:hover,
.about-btn .blue-border :active {
  box-shadow: -3px -3px 5px #2b3e66 inset, 3px 3px 5px #2b3e66 inset;
  user-select: none;
}

.gd-button {
  background: #f2b90c;
  text-align: center;
  margin: 15px 0;
}
.gd-button a {
  color: black;
  display: inline-block;
  width: 100%;
  padding: 40px 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.gd-button .yellow-border {
  padding: 20px 8px;
  border-radius: 10px;
  background: linear-gradient(145deg, #ffc60d, #daa70b);
  box-shadow: 9px 9px 18px #d7a50b, -9px -9px 18px #ffcd0d;
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  border: none;
  opacity: 0.8;
}
.top-btn .fas {
  border-radius: 50%;
  background: #000;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 350px;
  margin: 0 auto;
}
@media (min-width: 720px) {
  .button-container {
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    padding-top: 18px;
    max-width: 200px;
  }
}
@media (min-width: 920px) {
  .button-container {
    display: block;
    align-self: center;
    padding-right: 25px;
  }
}
.button-container .btn {
  min-width: 45%;
  max-width: 150px;
  min-height: 80px;
  background: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.032), 0 41.8px 33.4px rgba(0, 0, 0, 0.026), 0 100px 80px rgba(0, 0, 0, 0.05);
  margin: 25px auto 40px auto;
  background: white;
  color: #000;
}
.button-container .btn:hover,
.button-container .btn :active {
  box-shadow: -3px -3px 7px #f5f5f5 inset, 3px 3px 7px #bbc3cc inset;
  user-select: none;
}
@media (min-width: 720px) {
  .button-container .btn {
    width: 100%;
    margin-bottom: 20px;
    min-height: 70px;
  }
}
.button-container .fa-github {
  font-size: 1.45rem;
}
.button-container .fa-desktop {
  font-size: 1.25rem;
}

/*# sourceMappingURL=main.css.map */
