@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 1.15rem;
  font-weight: 700;
  text-transform: uppercase;
}
h1 .escobell {
  font-weight: 300;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  padding: 10px 0 5px 0;
}

h4 {
  font-weight: 500;
  font-size: 1.15rem;
  padding: 15px 0 5px 0;
}

h5 {
  color: #fff;
  font-weight: 500;
  padding: 4px;
}

.dev-par {
  font-style: italic;
  color: #304673;
  line-height: 1.3rem;
  margin-bottom: 20px;
}

p {
  hyphens: none;
  line-height: 1.35rem;
}

.tools {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 15px;
}

.tools-par {
  line-height: 1.5rem;
}

.last-par {
  padding-bottom: 15px;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  display: grid;
  grid-row-gap: 15px;
}
main .intro-container {
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .intro-container .intro {
  width: 85vw;
  height: 80%;
  display: flex;
  align-items: center;
}
main .intro-container .intro h2 {
  font-size: 1.875rem;
  line-height: 2.6rem;
  font-weight: 500;
}
main .intro-container .intro h2 .red-block {
  border-bottom: 3px solid #BF212e;
}
main .intro-container .intro h2 .blue-block {
  border-bottom: 3px solid #304673;
}
main .intro-container .intro h2 .yellow-block {
  border-bottom: 3px solid #f2b90c;
}
@media (min-width: 800px) {
  main .intro-container {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    height: 95vh;
  }
  main .intro-container .intro {
    max-width: 680px;
  }
}
main .wrapper-desktop .current-container {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 15px;
  position: relative;
}
main .wrapper-desktop .current-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .wrapper-desktop .current-container .cur-text-container {
  padding: 10px 10px 25px 15px;
  align-content: center;
  background: #f2f2f2;
}
main .wrapper-desktop .about-jenny-container {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 15px;
}
main .wrapper-desktop .about-jenny-container .about-text-container {
  padding: 10px 20px 15px 15px;
  max-width: 550px;
}
main .wrapper-desktop .about-jenny-container .about-text-container p {
  margin-top: 10px;
  line-height: 1.35rem;
}
main .wrapper-desktop .index-box-cont {
  display: grid;
  grid-template-columns: repeat 2, 2fr;
  grid-auto-rows: 50px;
  grid-column-gap: 15px;
  grid-template-areas: "yellow-box  black-box" "yellow-box  black-box";
}
main .wrapper-desktop .index-box-cont .yellow-box {
  background: #f2b90c;
  grid-area: yellow-box;
}
main .wrapper-desktop .index-box-cont .black-box {
  background: #000;
  grid-area: black-box;
}
@media (min-width: 800px) {
  main .wrapper-desktop {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    border: 2px solid orange;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
  }
}

.current-proj {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 15px;
  margin-top: 100px;
}
.current-proj h2 {
  text-transform: uppercase;
  font-weight: 700;
}
.current-proj .proj-cur-textbox {
  padding: 10px 10px 25px 15px;
  background: #f2f2f2;
}

.portfolio-proj {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 15px;
}
.portfolio-proj .portfolio-textbox {
  padding: 10px 10px 25px 15px;
  background: #f2f2f2;
}

.react-proj {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 15px;
}
.react-proj .react-textbox {
  padding: 10px 10px 25px 15px;
  background: #f2f2f2;
}

.projects-box-cont {
  display: grid;
  grid-template-columns: repeat 2, 2fr;
  grid-auto-rows: 50px;
  grid-column-gap: 15px;
  grid-template-areas: "blue-box  red-box" "blue-box  red-box";
}
.projects-box-cont .blue-box {
  background: #304673;
  grid-area: blue-box;
}
.projects-box-cont .red-box {
  background: #BF212e;
  grid-area: red-box;
}

.project-intro {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  grid-row-gap: 15px;
  margin-top: 100px;
}
.project-intro .project-summary {
  padding: 10px 10px 25px 15px;
  background: #f2f2f2;
}
.project-intro .project-summary h3 {
  margin-bottom: 15px;
}
.project-intro .project-summary p {
  line-height: 1.4rem;
  margin-bottom: 15px;
}
.project-intro .project-summary .timeline {
  font-weight: 500;
}

.key-info {
  background: #304673;
  color: #fff;
  padding: 10px 10px 25px 15px;
}
.key-info h3 {
  line-height: 1.75rem;
  font-size: 1.15rem;
  text-transform: none;
}
.key-info p {
  margin-bottom: 15px;
  line-height: 1.45rem;
}
.key-info .last-par {
  margin-bottom: 0;
}

.reflections {
  padding: 10px 10px 25px 15px;
  margin-bottom: 5px;
  background: #f2f2f2;
}
.reflections h3 {
  text-transform: none;
}
.reflections p {
  margin-bottom: 15px;
}

.indiv-box-cont {
  display: grid;
  grid-template-columns: repeat 2, 2fr;
  grid-auto-rows: 50px;
  grid-column-gap: 15px;
  align-items: center;
  grid-template-areas: "blue-box  black-box";
}
.indiv-box-cont .blue-box {
  background: #304673;
  grid-area: blue-box;
  color: white;
  padding: 25px;
}
.indiv-box-cont .black-box {
  background: #000;
  grid-area: black-box;
  color: white;
  text-align: right;
  padding: 25px;
}

.about-intro-1 {
  margin-top: 100px;
}
.about-intro-1 h3 {
  padding: 20px 0 5px 15px;
}
.about-intro-1 p {
  padding: 10px 10px 25px 15px;
  line-height: 1.4rem;
}

.toolkit {
  background: #304673;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px 10px 25px 15px;
  color: #fff;
}
.toolkit h3 {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}
.toolkit ul {
  line-height: 1.6rem;
}
.toolkit ul .li-heading {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1.05rem;
}
.toolkit ul .li {
  padding: 10px 0;
  display: inline-block;
}
.toolkit ul .adobe {
  margin-left: 10px;
  font-weight: 300;
}

.contact-intro {
  background: #f2f2f2;
  margin-top: 100px;
  padding: 20px 15px;
}
.contact-intro h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.contact-boxes {
  display: grid;
  align-items: center;
  grid-template-columns: repeat 2, 2fr;
  grid-auto-rows: 125px;
  grid-gap: 10px;
  grid-template-areas: "email      email" "tweet      linkedin" "call        call";
}
.contact-boxes .box {
  padding: 35px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 2rem;
}
.contact-boxes .box:hover {
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
}
.contact-boxes .box-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}
.contact-boxes .fas, .contact-boxes .fab {
  font-size: 1.875rem;
}
.contact-boxes .email {
  grid-area: email;
  background-color: #BF212e;
}
.contact-boxes .fa-twitter {
  grid-area: tweet;
  background-color: #f2f2f2;
  color: #BF212e;
}
.contact-boxes .fa-linkedin-in {
  grid-area: linkedin;
  background-color: #f2b90c;
  color: #304673;
}
.contact-boxes .fa-mobile {
  grid-area: call;
  background-color: #304673;
}

.accordion {
  background-color: #BF212e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid #941924;
}
.accordion h3 {
  text-transform: none;
  color: #fff;
  font-weight: 700;
  font-size: 1.15rem;
}

.wireframes {
  margin: 10px auto;
  padding: 4px;
  background-color: #fff;
  border-radius: 4px;
  text-align: center;
  max-height: 400px;
  width: 100%;
  overflow: scroll;
}
.wireframes img {
  border-radius: 4px;
}

.active, .accordion:hover {
  background-color: #941924;
}

.panel {
  padding: 10px 10px 25px 15px;
  display: none;
  background-color: #f2f2f2;
  overflow: hidden;
}
.panel h4 {
  margin-bottom: 5px;
}
.panel p {
  margin-bottom: 10px;
}
.panel .logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.panel .logo-container h4 {
  width: 100%;
}
.panel .logo-container p {
  width: 100%;
}
.panel .logo-container img {
  height: 100px;
  width: auto;
}
.panel .colour-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.panel .colour-container h4 {
  width: 100%;
}
.panel .colour-container .colour {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  border-radius: 4px;
  position: relative;
}
.panel .colour-container .colour p {
  display: inline-block;
  background-color: #f2f2f2;
  position: absolute;
  bottom: 0;
  font-size: 0.75rem;
  padding: 5px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.panel .colour-container .ts-1 {
  background-color: #5c9090;
}
.panel .colour-container .ts-2 {
  background-color: #e8b665;
}
.panel .colour-container .ts-3 {
  background-color: #513626;
}
.panel .colour-container .ts-4 {
  background-color: #eee8db;
}
.panel .colour-container .ts-5 {
  background-color: #F7F7F7;
}
.panel .colour-container .jne-1 {
  background-color: #BF212e;
}
.panel .colour-container .jne-2 {
  background-color: #304673;
}
.panel .colour-container .jne-3 {
  background-color: #f2b90c;
}
.panel .colour-container .jne-4 {
  background-color: #f2f2f2;
}
.panel .colour-container .mb-1 {
  background: #000;
  color: #000;
}
.panel .colour-container .mb-2 {
  background-color: #fc007a;
  color: #000;
}
.panel .colour-container .mb-3 {
  background-color: #40132a;
  color: #000;
}
.panel .colour-container .mb-4 {
  background-color: #a3768c;
  color: #000;
}

.panel-dark {
  background: #000;
  color: #fff;
}

.image-style-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}
.image-style-container h4 {
  width: 100%;
}
.image-style-container p {
  width: 100%;
}
.image-style-container .image-style-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 225px;
  overflow: scroll;
  background: #f2f2f2;
}
.image-style-container .image-style-box img {
  height: 250px;
  width: auto;
  margin: 8px;
  border-radius: 4px;
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}
header .header-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  padding-top: 40px;
  height: 10vh;
}
header .header-row .logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: -15px;
}
header .header-row .logo img {
  height: 75px;
  width: auto;
}
header .header-row .logo h1 {
  margin-top: 32px;
  margin-left: -55px;
}
@media (min-width: 650px) {
  header {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 500;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  header .header-row {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 90px;
    padding: 10px 0 0 20px;
  }
  header .header-row .logo {
    justify-content: flex-start;
    width: 50%;
    margin: 0;
  }
}

nav {
  width: 100%;
  background: #000;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 80px;
  z-index: 900;
}
nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
nav ul a {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 30px;
  color: #fff;
  font-weight: 500;
}
nav ul a:hover {
  font-weight: 300;
}
@media (min-width: 650px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background: none;
    width: 50%;
    justify-content: flex-end;
    right: 0;
  }
  nav ul {
    margin: 0;
    justify-content: flex-end;
    width: auto;
  }
  nav ul a {
    color: #000;
    margin: 0;
  }
  nav ul .ani-link {
    display: inline-block;
  }
  nav ul .ani-link::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    border-radius: 2px;
    background: #BF212e;
    transition: width 0.3s;
    margin-top: 10px;
  }
  nav ul .ani-link:hover {
    font-weight: 500;
  }
  nav ul .ani-link:hover::after {
    width: 100%;
  }
  nav ul .ani-blue::after {
    background: #304673;
  }
  nav ul .ani-yellow::after {
    background: #f2b90c;
  }
}

footer {
  margin-top: 50px;
  padding-bottom: 90px;
}
footer .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  position: relative;
  padding-top: 20px;
}
footer .footer-logo .logo {
  display: flex;
  flex-wrap: nowrap;
}
footer .footer-logo .logo img {
  height: 75px;
  width: auto;
}
footer .footer-logo .logo h1 {
  margin-top: 30px;
  margin-left: -50px;
}
footer .footer-social {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
footer .footer-social a {
  padding: 10px;
  font-size: 1.5rem;
}
footer .footer-social a:hover {
  color: #BF212e;
}
footer p {
  text-align: center;
  padding: 10px;
  font-size: 0.875rem;
}
@media (min-width: 650px) {
  footer {
    max-width: 1200px;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "logo   par par    social";
    justify-content: space-between;
    padding: 10px 0 50px 10px;
    margin: 0 auto;
    width: 100%;
    height: 75px;
  }
  footer .footer-logo {
    grid-area: logo;
    width: 200px;
    padding: 0;
  }
  footer .footer-logo .logo img {
    height: 50px;
    margin-top: -5px;
  }
  footer .footer-logo .logo h1 {
    font-size: 0.5;
    margin-top: 18px;
    margin-left: -33px;
  }
  footer .footer-social {
    grid-area: social;
    width: 150px;
    margin: 0;
  }
  footer .footer-par {
    width: auto;
    grid-area: par;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 17px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btn-container .faux-btn {
  display: inline-block;
  width: 200px;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  -webkit-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  -moz-box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
  box-shadow: 1px 2px 3px 1px rgba(201, 201, 201, 0.3);
}
.btn-container .red-btn {
  background: #BF212e;
}
.btn-container .blue-btn {
  background: #304673;
}
.btn-container .yellow-btn {
  background: #f2b90c;
  color: #000;
}

.view-all-btn {
  background: #000;
  text-align: center;
  cursor: pointer;
}
.view-all-btn a {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 25px;
  font-weight: 700;
}
.view-all-btn a:hover {
  font-weight: 300;
  transition: 0.5s;
}

.about-btn {
  background: #304673;
  text-align: center;
}
.about-btn a {
  color: #fff;
  display: inline-block;
  width: 100%;
  padding: 25px;
  font-weight: 700;
}
.about-btn a:hover {
  font-weight: 300;
  transition: 0.5s;
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  z-index: 99;
  outline: none;
  color: #BF212e;
  cursor: pointer;
  font-size: 1.5rem;
  background: none;
  opacity: 0.8;
  border: none;
}
.top-btn .fas {
  border: solid 2px #f2f2f2;
  border-radius: 50%;
  background: #f2f2f2;
  font-size: 1.5rem;
  transition: 1s;
}

/*# sourceMappingURL=main.css.map */
